form {
  max-width: 550px;
  margin: 5rem auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  border: 3px solid green;
  border-radius: 25px;
}
form input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: rgb(0, 151, 0);
  padding: 0.5rem;
  width: 200px;
  border: 1px solid grey;
  border-radius: 30px;
}
form button {
  padding: 6px 12px;
  background: none;
  color: green;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  border: 3px solid green;
  border-radius: 30px;
}